<div class="activate">
  <h1>Please check your email and confirm your account!</h1>
  <img src="/images/kiss.png" alt="">
  <div class="anchors">
    <a href="/info">Info</a> <a href="/auth/login">Login</a>
  </div>
</div>