<div class="container-index">
  <div class="border">
    <nav class="box">
      <h1>El baresito coctelero</h1>
      <div class="links-index">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/google">Login with google <i class="fa fa-google" aria-hidden="true"></i></a>
        <a href="/info">Info</a>
      </div>
    </nav>
  </div>
</div>