<nav class="nav-bar-info">
  <a href="/view">Home</a>
  <a href="/auth/google">Login with google <i class="fa fa-google" aria-hidden="true"></i></a>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  <label for="mode">Get route from your location
    <input type="text" name="" id="mode">
    <div>
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option class="ultimo" value="TRANSIT">Transit</option>
    </div>
  </label>
</nav>



<body>
  <div class="text">
    <h1>El baresiiito coctelero</h1>
    <p>
      Brand new futuristic restaurant located in the heart of Madrid.
      <br>
      Come and taste your food experience based on five of the most important cultures in the world.
      <br>
      Just make a reservation and forget about everything, we will take care about it!!
      <br>
      JUST ENJOY!
    </p>
  </div>







  <div id="map"></div>



</body>